.my-grid {
    /* display: grid center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px; */
    display: inline-grid;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px;
    grid-gap: 3px;

}

.has-blue-background {
    background-color: #A7DDFF;
    border: 1px solid #721EE3;
}

.has-yellow-background {
    background-color: #FAF7A7;
    border: 1px solid #E38C1E;
}
